<!--header-->
<% include ../partials/header %>
<link rel="stylesheet" href="/stylesheets/events-history.css">
<div class="jumbotron jumbotron-fluid head-background">
    <div class="container">
        <h1 class="display-4">Events History</h1>
    </div>
</div>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <ul class="timeline">
            <li>
                <div class="timeline-badge info"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">2018</h4>
                    </div>
                    <div class="timeline-body">
                        <ul>
                            <li>The Power of a Network: What Can we Do Better Together?</li>
                            <li>Developing Personal Policy Action Plans</li>
                            <li>Racial Equity</li>
                            <li>Working Across Sectors: From Silos to Synergies</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge warning"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">2017</h4>
                    </div>
                    <div class="timeline-body">
                        <ul>
                            <li>Strategic Visioning Retreat</li>
                            <li>Q1 - State Food Legislation</li>
                            <li><a class="text-info" href="/blog">MFAN Bus Adventure</a></li>
                            <li>Q2 - Farm Bill</li>
                            <li>Q3 - Institutional Racism</li>
                            <li><a class="text-info" href="/blog">Q4 - Metro Community Meal</a></li>
                            <li>Critical Conversations on Race in the Food System - Meeting #1</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge danger"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">2016</h4>
                    </div>
                    <div class="timeline-body">
                        <ul>
                            <li>Q1 - State Food Legislation</li>
                            <li>Q2 - Institutional Purchasing</li>
                            <li>Q3 - Personal Equity Lens</li>
                            <li><a class="text-info" href="/resources/equity-in-policy-timeline">Equity in Policy Timeline</a></li>
                            <li>Q4 - Network Equity Visioning</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge default"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">2015</h4>
                    </div>
                    <div class="timeline-body">
                        <ul>
                            <li>Q1 - Comprehensive Planning</li>
                            <li>Q2 - Engaging in Policy 2</li>
                            <li>Q3 - Equity in Engagement</li>
                            <li>Q4 - Minnesota Food Charter Network Input</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge success"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">2014</h4>
                    </div>
                    <div class="timeline-body">
                        <ul>
                            <li>Q1 - Minnesota Food Charter Input</li>
                            <li>Q2 - Engaging in Policy 1</li>
                            <li>Q3 - Network Planning</li>
                            <li>Q4 - Minnesota Food Charter as a Resource for Action</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge" style="background: #7a43b6"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">2013</h4>
                    </div>
                    <div class="timeline-body">
                        <ul>
                            <li>Q1 - Meet the Partners</li>
                            <li>Q2 - Strategic Priorities</li>
                            <li>Q3 - Mission and Vision</li>
                            <li>Q4 - Food Access Landscape</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge dark" style="background: deeppink"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">2012</h4>
                    </div>
                    <div class="timeline-body">
                        <ul>
                            <p>In 2012, MFAN was introduced. The mission of MFAN is to leverage collective capacity of partners to advance equitable access to healthy food for all Twin Cities metro residents.</p>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>


<!--footer-->
<% include ../partials/footer %>