    </body>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 myCols">
                    <h5>CONTACT US</h5>
                    <ul>
                        <li><a href="mailto:jbain@umn.edu"><i class="fa fa-envelope"></i>  jbain@umn.edu</a></li>
                        <li><a href="tel:6122395571"><i class="fa fa-phone"></i>  612-239-5571</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 myCols">
                    <h5>YOUR MFAN EXPERIENCE</h5>
                    <ul>
                        <li><a target="_blank" href="https://umn.qualtrics.com/jfe/form/SV_736gtWxJtu97tjL"><i class="fa fa-clipboard"></i>  Tell Us About Your Experience</a></li>
                        <li><a href="/upcoming-events"><i class="fa fa-user-plus"></i>  Join an MFAN Event</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 myCols">
                    <h5>SIGN ME UP</h5>
                    <ul>
                        <li><a target="_blank" href="http://umn.us13.list-manage.com/subscribe?u=f970df448d8fb34ec887829a1&id=09405788a4"><i class="fa fa-bullhorn"></i>  Add Me To MFAN Contact List</a></li>
                        <li><a href="/contact-us"><i class="fa fa-comment"></i>  Leave Us a Message</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="social-networks">
            <a href="https://twitter.com/MetroFoodAccess" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/metrofoodaccessnetwork/" class="facebook"><i class="fa fa-facebook-official"></i></a>
        </div>
        <div class="footer-copyright">
            <p> MFAN <i class="fa fa-copyright"></i> 2018 </p>
        </div>
    </footer>
    </html>