<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <title><%= title %></title>
    </head>
    <body>
        <!--&lt;!&ndash;header&ndash;&gt;-->
        <!--<div  id="header" class="jumbotron">-->
            <!--<img id="header-image" src="/images/brand-logo.png" width="120" height="100" alt="">-->
            <!--<h1 class="text-justify">METRO FOOD ACCESS NETWORK</h1>-->
        <!--</div>-->

        <!--navbar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">
                <img src="/images/brand-logo.png" width="35" height="30" class="d-inline-block align-top" alt="">
                MFAN
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item <% if (page === 'home') { %>active <% } %>">

                        <a class="nav-link" href="/">HOME</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle <% if (page === 'about-us') { %>active<% } %>" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ABOUT US
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/about-us/about-us">ABOUT US</a>
                            <a class="dropdown-item" href="/about-us/mfan-history">MFAN HISTORY</a>
                            <a class="dropdown-item" href="/about-us/meet-the-strategic-team">MEET THE STRATEGIC TEAM</a>
                            <a class="dropdown-item" href="/about-us/picture-gallery">PICTURE GALLERY</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle <% if (page === 'events') { %>active<% } %>" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            EVENTS
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/events/upcoming-events">UPCOMING EVENTS</a>
                            <a class="dropdown-item" href="/events/calendar">CALENDAR</a>
                            <!--<a class="dropdown-item" href="#">CRITICAL CONVERSATION ON RACE</a>-->
                            <a class="dropdown-item" href="/events/critical-convos-forum">CRITICAL CONVOS FORUM</a>
                            <a class="dropdown-item" href="/events/events-history">EVENTS HISTORY</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle <% if (page === 'partners') { %>active<% } %>" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            PARTNERS
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/partners/ways-to-partner-with-mfan">WAYS TO PARTNER WITH MFAN</a>
                            <a class="dropdown-item" href="/partners/action-teams">ACTION TEAMS</a>
                            <a class="dropdown-item" href="/partners/strategic-team">STRATEGIC TEAM</a>
                            <a class="dropdown-item" href="/partners/partner-directory">PARTNER DIRECTORY</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle <% if (page === 'resources') { %>active<% } %>" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            RESOURCES
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/resources/tools-and-resources">TOOLS AND RESOURCES</a>
                            <a class="dropdown-item" href="/resources/critical-conversation-on-race">CRITICAL CONVERSATION ON RACE</a>
                            <a class="dropdown-item" href="/resources/equity-in-policy-timeline">EQUITY IN POLICY TIMELINE</a>
                        </div>
                    </li>
                    <li class="nav-item <% if (page === 'donate') { %>active<% } %>">
                        <a class="nav-link" href="/donate">DONATE</a>
                    </li>
                    <li class="nav-item <% if (page === 'blog') { %>active<% } %>">
                        <a class="nav-link" href="/blog">BLOG</a>
                    </li>
                    <li class="nav-item <% if (page === 'contact-us') { %>active<% } %>">
                        <a class="nav-link" href="/contact-us">CONTACT US</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
