<!--header-->
<% include ../partials/header %>
<link rel="stylesheet" href="/stylesheets/partner-with-mfan.css">
<script src="javascripts/partner-with-mfan.js"></script>
<div class="jumbotron jumbotron-fluid head-background">
    <div class="container">
        <h1 class="display-4">Action Teams</h1>
    </div>
</div>

<section class="content-section" id="portfolio">
    <div class="container">
        <div class="row no-gutters">

            <div class="col-lg-4">
                <a class="portfolio-item" href="/partners/action-teams/local-government-action-team">
                    <span class="caption">
                        <span class="caption-content">
                            <h2>Local Government Action Team</h2>
                            <p class="mb-0">The Local Government Action Team is a network of local food access advocates working on multiple issues and engaging across multiple policy levers within local government in the Twin Cities.</p>
                        </span>
                    </span>
                    <img class="img-fluid" src="/images/government-action-team.jpeg" alt="">
                </a>
            </div>

            <div class="col-lg-4">
                <a class="portfolio-item" href="/partners/action-teams/equity-action-team">
                    <span class="caption">
                        <span class="caption-content">
                            <h2>Equity Action Team</h2>
                            <p class="mb-0">Come together to help plan and participate in MFAN Critical Conversations on Race in the Food System event series. Next up will be the development and launch of an "MFAN Partner Equity Commitment" resource.</p>
                        </span>
                    </span>
                    <img class="img-fluid" src="/images/equity-action-team.jpeg" alt="">
                </a>
            </div>

            <div class="col-lg-4">
                <a class="portfolio-item" href="/partners/action-teams/regulatory-action-team">
                    <span class="caption">
                        <span class="caption-content">
                            <h2>Regulatory Action Team</h2>
                            <p class="mb-0">The Regulatory Action Team  works collaboratively to understand and stimulate positive change in the regulatory system in Minnesota and how it affects equitable access to healthy food in the state.</p>
                        </span>
                    </span>
                    <img class="img-fluid" src="/images/regulatory-action-team.jpeg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>

<h1 class="my-4 text-center text-primary display-3">Start an Action Team</h1>
<div class="container">

    <p>Anyone with an idea for collective action to advance equitable access to healthy food can start an MFAN Action Team.  Short-term Action Teams address pressing issues, such as a call to action to pass or influence a piece of legislation. Long-term Action Teams evolve to address systemic issues within an area of the food system.</p>
    <hr>

    <h3 class="my-4 text-center text-primary display-4">Guidelines</h3>
    <div class="container">
        <p>Action Teams can be started by anyone that meets the following guidelines:</p>
        <ul>
            <li>There is mission alignment with the network.</li>
            <li>There are at least three-four others that have committed to partnering to the work.</li>
            <li>The team has completed the <a href="/documents/Anti-Racism-Criteria-Worksheet.docx" class="text-info">Anti-Racism & Organizing Criteria Worksheet</a> and submitted to the Strategic Team.</li>

        </ul>
    </div>
    <hr>

    <h3 class="my-4 text-center text-primary display-4">Responsibilities</h3>
    <div class="container">
        <p>Action Team Lead responsibilities include but are not limited to the following:</p>
        <ul>
            <li>Organize communications to partners</li>
            <li>Facilitate meetings</li>
            <li>Conduct outreach</li>
            <li>Provide leadership and accountability to Action Team partners, following <a target="_blank" href="/documents/mfan-action-team-expectation.pdf" class="text-info">MFAN Action Team Expectations</a>.</li>
            <li>Complete <a target="_blank" href="/documents/mfan-action-team-planning-guide.pdf" class="text-info">MFAN Action Team Planning Guide</a>.</li>
        </ul>
    </div>
    <hr>

</div>




<!--footer-->
<% include ../partials/footer %>