<!--header-->
<% include ../partials/header %>
<link rel="stylesheet" href="/stylesheets/partner-with-mfan.css">
<script src="javascripts/partner-with-mfan.js"></script>

<div class="jumbotron jumbotron-fluid head-background">
    <div class="container">
        <h1 class="display-4">Ways to Partner with MFAN</h1>
    </div>
</div>


<section class="content-section" id="portfolio">
    <div class="container">

        <div class="row no-gutters">
            <div class="col-lg-6">
                <a class="portfolio-item" href="/events/upcoming-events">
              <span class="caption">
                  <span class="caption-content">
                      <h2>Attend an MFAN Event</h2>
                      <p class="mb-0">Join us to learn together, build & strengthen relationships and generate collective action to advance equitable access to healthy food for all.</p>
                      <p>#LearnConnectAct</p>
                </span>
              </span>
                    <img class="img-fluid" src="/images/ways-to-partner-attend-event.jpeg" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="/partners/action-teams">
                <span class="caption">
                <span class="caption-content">
                    <h2>Join an MFAN Action Team</h2>
                    <p class="mb-0">Join others in taking action to advance equitable access to healthy food for all. Current Action Teams include <span class="text-info">Local Government, Equity and Regulatory</span></p>
                    <p>Learn more about what it takes to start a new MFAN Action Team</p>
                </span>
              </span>
                    <img class="img-fluid" src="/images/ways-to-partner-action-team.jpeg" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="/partners/strategic-team">
              <span class="caption">
                  <span class="caption-content">
                      <h2>Join the MFAN Strategic Team</h2>
                      <p class="mb-0">The MFAN Strategic Team meets quarterly to discuss and determine short and long-term strategy for the network.</p>
                      <p>Meetings are open to everyone.</p>
                </span>
              </span>
                    <img class="img-fluid" src="/images/ways-to-partner-strategic-team.jpeg" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="/partners/partner-directory">
              <span class="caption">
                  <span class="caption-content">
                      <h2>Join the MFAN Partner Directory</h2>
                      <p class="mb-0">IF you have attended at least one MFAN event, we consider you an MFAN partner.</p>
                      <p>Add yourself and find other partners in the MFAN Partner Directory.</p>

                </span>
              </span>
                    <img class="img-fluid" src="/images/ways-to-partner-partner-directory.jpeg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>






<!--footer-->
<% include ../partials/footer %>