<!--header-->
<% include ../partials/header %>

<div class="jumbotron jumbotron-fluid head-background">
    <div class="container">
        <h1 class="display-4">Critical Conversation on Race</h1>
    </div>
</div>








<!--footer-->
<% include ../partials/footer %>