<!--header-->
<% include ./partials/header %>
<link rel="stylesheet" href="/stylesheets/blog.css">
<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

<header class="masthead" style="background-image: url('/images/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>MFAN Blog</h1>
                    <!--<span class="subheading">A Blog Theme by Start Bootstrap</span>-->
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <a href="/blog/003">
                    <h2 class="post-title">From Divide to Dividends: A Tour of Minnesota's Shared Connections</h2>
                </a>
                <p class="post-meta">Posted by <a class="text-primary">Jamie Bain</a> on February 27, 2018</p>
            </div>
            <hr>

            <div class="post-preview">
                <a href="/blog/002">
                    <h2 class="post-title">Metro Community Meal: Envisioning a Food System We All Deserve</h2>
                </a>
                <p class="post-meta">Posted by <a class="text-primary">Jamie Bain</a> on February 08, 2018</p>
            </div>
            <hr>

            <div class="post-preview">
                <a href="/blog/001">
                    <h2 class="post-title">Ways to ACT NOW to give input to your city’s comprehensive plans</h2>
                </a>
                <p class="post-meta">Posted by <a class="text-primary">Jamie Bain</a> on February 08, 2018</p>
            </div>
        </div>
    </div>
</div>

<hr>

<script src="/javascripts/blog.js"></script>

<!--footer-->
<% include ./partials/footer %>