<!--header-->
<% include ./partials/header %>

<!--<div class="jumbotron jumbotron-fluid head-background">-->
    <!--<div class="container">-->
        <!--<h1 class="display-4">Donate</h1>-->
    <!--</div>-->
<!--</div>-->

<!--Carousel Wrapper-->
<div class="carousel carousel-fade" data-ride="carousel">
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <video style="max-height: 100%; width: 100%" class="video-fluid" autoplay loop>
                <source src="/videos/flower.mp4" type="video/mp4" />
            </video>
        </div>
    </div>
    <div class="carousel-caption" id="donation-button-block">
        <!--<h3 class="h3-responsive">Strong mask</h3>-->
        <a id="donation-button" target="_blank" href="https://crowdfund.umn.edu/civicrm/contribute/transact?id=5&pcpId=1106&reset=1download" class="my-3 btn btn-outline btn-xl js-scroll-trigger">Donate Now Via URaiseMN</a>
        <br>
        <a class="btn" target="_blank" href="https://crowdfund.umn.edu/mfan"><p style="color: white">Visit Our Page on URaiseMN</p></a>
    </div>

</div>
<!--Carousel Wrapper-->

<br>
<br>

<div class="container">

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-6">
            <img class="img-fluid" src="/images/mfan-logo-600x600.png" alt="">
        </div>

        <div class="col-md-6">
            <h3 class="my-3 text-primary">Support a network committed to an equitable food system</h3>
            <p>Minnesota’s metro cities and counties do not operate in a vacuum. We operate in a regional economy that drives the success of the state. MFAN is comprised of over 400 food systems partners from the seven-county metro region who seek to advance equitable access to healthy food for everyone in the region. We come together to learn, connect, and take collective action through policy and systems approaches that advance our mission.</p>
            <h3 class="my-3 text-primary">Your donation makes an immediate impact</h3>
            <p>MFAN is an inviting, innovative, and fun network seeking to advance a bold mission of equitable access to healthy food for all. Your donation will be used to support the network by funding supplies such as food, childcare, and room rental for meetings as well as providing stipends for partners to provide leadership to emerging Action Teams.</p>
        </div>

    </div>
    <!-- /.row -->
    <h2 class="text-primary text-center">MFAN Success</h2>
    <ul>
        <li>Transforming metro area food shelves to create welcoming and appealing environments to access healthy and culturally appropriate foods through the <a class="text-info" target="_blank" href="https://www.supershelfmn.org/">SuperShelf</a> initiative and our <a class="text-info" href="/partners/action-teams">Food Shelf Action Team.</a></li>
        <li>Shifting comprehensive planning language in all seven counties to include language about access to healthy food through our <a class="text-info" href="/partners/action-teams/local-government-action-team">Local Government Action Team.</a></li>
        <li>Engaging in <a class="text-info" href="/resources/critical-conversation-on-race">Critical Conversations on Race</a> in the Food System to support partners in no longer upholding and only dismantling institutional racism in the metro area.</li>
        <li>Connecting community members, elected officials, and food systems leaders through the <strong>Metro Community Meal</strong> where over 165 people came together in November 2017 to envision a food system we all deserve over a family-style meal.</li>
    </ul>



</div>
<!-- /.container -->





<!--footer-->
<% include ./partials/footer %>