<!--header-->
<% include ../../partials/header %>

<div class="jumbotron jumbotron-fluid head-background">
    <div class="container">
        <h1 class="display-4">Equity Action Team</h1>
    </div>
</div>
<!-- Page Content -->
<div class="container">

    <div class="container">
        <p>The Equity Action Team currently aligns with the overall theme of the <a target="_blank" href="http://mnfoodcharter.com/the-charter/" class="text-info">Minnesota Food Charter</a> and the companion <a target="_blank" class="text-info" href="http://mnfoodcharter.com/wp-content/uploads/2014/10/MinnesotaFoodCharterHealthEquityGuide.pdf">Health Equity Guide</a> of advancing equity in the MN food system.</p>
    </div>

    <!-- Project One -->
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid rounded mb-3 mb-md-0" src="/images/local-government-action-team-partner.jpeg" alt="">
        </div>
        <div class="col-md-8 align-self-center">
            <h3>Partners</h3>
            <ul>
                <li>To help design and participate in the <a href="/resources/critical-conversation-on-race" class="text-info">Critical Conversations on Race in the Food System</a> event series of MFAN.</li>
                <li>Following the Critical Conversations, partners will come together to develop an "MFAN Equity Commitment" campaign. The campaign will include a list of BIPOC and LGBTQ owned/operated businesses for individuals, organizations, and institutions to commit to spending their resources at, including food businesses, IT support, office supplies, maintenance, etc.</li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Two -->
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid rounded mb-3 mb-md-0" src="/images/local-government-action-team-action.jpeg" alt="">
        </div>
        <div class="col-md-8 align-self-center">
            <h3>Action</h3>
            <ul>
                <li>The Equity Action Team consists of about 15 partners representing funding agencies, local public health, and various nonprofit, social justice, and grassroots organizations.</li>
                <li>Action Lead: Samty Xiong from The Food Group</li>
            </ul>
            <a class="btn btn-primary" href="mailto:sxiong@thefoodgroupmn.org">Contact Action Lead via Email</a>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Three -->
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid rounded mb-3 mb-md-0" src="/images/local-government-action-team-tools.jpeg" alt="">
        </div>
        <div class="col-md-8 align-self-center">
            <h3>Tools & Resources</h3>
            <p><a href="/resources/tools-and-resources" class="text-info">View Resources Page</a></p>
            <a target="_blank" class="btn btn-primary" target="_blank" href="https://drive.google.com/drive/folders/0B6v2FLpdM5X1MVhMTl9lYWtlZk0">Find Notes from Previous Meetings</a>
        </div>
    </div>
    <!-- /.row -->

    <hr>
    <br>
    <br>


    <!------------------------------------------- 2017 Heading -------------------------------------------------------->
    <h1 class="my-4 text-center text-primary display-3">2017 Success</h1>
    <div class="container">
        <p>MFAN leveraged funding from the Center for Prevention at Blue Cross Blue Shield to fund The Food Group to coordinate and facilitate six <a href="/resources/critical-conversation-on-race" class="text-info">Critical Conversations on Race in the Food System</a> events took place between December 2017 - April 2018.</p>
    </div>

    <hr>
    <br>
    <br>


    <!------------------------------------------- 2016 Heading -------------------------------------------------------->
    <h1 class="my-4 text-center text-primary display-3">2016 Success</h1>
    <div class="container">
        <p>MFAN leveraged funding to support a part-time position to coordinate the MFAN Equity Action Team. Together the team provided recommendations to improve the equity practices of the network.  They also designed and facilitated an <a href="/resources/equity-in-policy-timeline" class="text-info">Equity in Policy Timeline</a> experience where partners walked an over 50 foot timeline of policies and systems that have been put in place over the last several centuries to create the food system we have today.</p>
    </div>

    <hr>
    <br>
    <br>

</div>
<!-- /.container -->











<!--footer-->
<% include ../../partials/footer %>