<!--header-->
<% include ../../partials/header %>

<div class="jumbotron jumbotron-fluid head-background">
    <div class="container">
        <h1 class="display-4">Local Government Action Team</h1>
    </div>
</div>
<!-- Page Content -->
<div class="container">

    <!-- Project One -->
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid rounded mb-3 mb-md-0" src="/images/local-government-action-team-partner.jpeg" alt="">
        </div>
        <div class="col-md-8 align-self-center">
            <h3>Partners</h3>
            <p>The Local Government Action Team consists of about 10-15 partners representing funding agencies, local public health, and various nonprofit and grassroots organizations.</p>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Two -->
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid rounded mb-3 mb-md-0" src="/images/local-government-action-team-action.jpeg" alt="">
        </div>
        <div class="col-md-8 align-self-center">
            <h3>Action</h3>
            <ul>
                <li>The Local Government Action Team is a network of local food access advocates working on multiple issues and engaging across multiple policy levers within local government in the Twin Cities.</li>
                <li>Action Lead: Nadja Berneche from Terra Soma</li>
            </ul>
            <a class="btn btn-primary" href="mailto:nadja@terrasoma.com">Contact Action Lead via Email</a>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Three -->
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid rounded mb-3 mb-md-0" src="/images/local-government-action-team-tools.jpeg" alt="">
        </div>
        <div class="col-md-8 align-self-center">
            <h3>Tools & Resources</h3>
            <ul>
                <li><a target="_blank" href="/documents/community-health-in-comprehensive-planning-checklist.pdf">Community Health in Comprehensive Planning Checklist</a></li>
                <li><a target="_blank" href="http://mnfoodcharter.com/planningguide/">Minnesota Food Charter Food Access Planning Guide</a></li>
                <li><a target="_blank" href="http://www.seattle.gov/Documents/Departments/OSE/Seattle_food_comp_plan_FINAL_082012.pdf">Integrating Food Policy in Comprehensive Planning: Strategies and Resources for the City of Seattle</a></li>
                <li><a target="_blank" href="https://www.planning.org/research/foodaccess/">Planning for Food Access and Community Based Food Systems: A National Scan and Evaluation of Local Comprehensive and Sustainability Plans</a></li>
                <li><a target="_blank" href="http://cccfoodpolicy.org/sites/default/files/resources/planning_to_eat_sunybuffalo.pdf">Planning to Eat? Innovative Local Government Plans and Policies to Build Healthy Food Systems in the United States</a></li>
                <li><a target="_blank" href="http://changelabsolutions.org/sites/default/files/Urban_Ag_SeedingTheCity_FINAL_%28CLS_20120530%29_20111021_0.pdf">Seeding the City: Land Use Policies to Promote Urban Agriculture</a></li>
            </ul>
            <a target="_blank" class="btn btn-primary" target="_blank" href="https://drive.google.com/drive/folders/0B6v2FLpdM5X1MVhMTl9lYWtlZk0">Find Notes from Previous Meetings</a>
        </div>
    </div>
    <!-- /.row -->

    <hr>
    <br>
    <br>


    <!------------------------------------------- 2017 Heading -------------------------------------------------------->
    <h1 class="my-4 text-center text-primary display-3">2017 Success</h1>
    <div class="container">
        <p>The MFAN Comprehensive Planning Team developed the <a class="text-info" target="_blank" href="/documents/community-health-in-comprehensive-planning-checklist.pdf">Community Health in Comprehensive Planning Checklist</a> to further support food access advocates and planners to work together to advance equitable access to healthy food through the built environment.</p>
    </div>

    <hr>
    <br>
    <br>


    <!------------------------------------------- 2016 Heading -------------------------------------------------------->
    <h1 class="my-4 text-center text-primary display-3">2016 Success</h1>
    <div class="container">
        <p>The Comprehensive Planning Action Team incubated the idea for the
            <a href="http://mnfoodcharter.com/planningguide/" class="text-info" target="_blank">Minnesota Food Charter Healthy Food Access Planning Guide</a>.
            The guide provides tools, resources, proven policy strategies, and recommended planning and zoning language
            for comprehensive plans, so planners and community food advocates can collaborate to design communities that
            promote access to healthy, safe, affordable food.  MFAN partners continue to collaborate on the implementation
            of the guide for comprehensive plans that will be submitted in 2018.</p>
    </div>

    <hr>
    <br>
    <br>



    <!------------------------------------------- 2014 Heading -------------------------------------------------------->
    <h1 class="my-4 text-center text-primary display-3">2014 Success</h1>
    <div class="container">
        <p><a class="text-info" href="/documents/thrivemsp-2040.pdf" target="_blank">Thrive MSP2040</a> is a visionary document that guides city and county comprehensive planning for 30 years.
            During a revisionary process MFAN partners identified a lack of food access language in the proposed language.
            To address this, 15 MFAN partners came together to provide revisionary language to the document, much of which
            was included in the final document used today to guide the metro comprehensive planning process.</p>
    </div>

    <hr>
    <br>
    <br>

</div>
<!-- /.container -->











<!--footer-->
<% include ../../partials/footer %>