<!--header-->
<% include ../../partials/header %>

<div class="jumbotron jumbotron-fluid head-background">
    <div class="container">
        <h1 class="display-4">Regulatory Action Team</h1>
    </div>
</div>
<!-- Page Content -->
<div class="container">

    <div class="container">
        <p>The Regulatory Action Team currently aligns with the following Minnesota Food Charter strategy:</p>
        <p class="font-weight-bold">Streamline food safety and licensing protocols and work towards the modification of regulations which pose barriers to healthy food access.</p>
    </div>

    <!-- Project One -->
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid rounded mb-3 mb-md-0" src="/images/local-government-action-team-partner.jpeg" alt="">
        </div>
        <div class="col-md-8 align-self-center">
            <h3>Partners</h3>
            <p>This Action Team is working collaboratively to understand and stimulate positive change in the regulatory system in Minnesota and how it affects equitable access to healthy food in the state in the following ways:</p>
            <ul>
                <li>Tracking adoption of the issues submitted to the Minnesota Department of Health regarding the Food Code.</li>
                <li>GIS mapping of WIC vendors in the suburbs to determine if vendors exceed federal distance standards.  If they do, other vendors would be added, thereby increasing food access.</li>
                <li>Supporting efforts to determine how food demos can be carried out in food shelf settings.</li>
                <li>Amending MN licensing exclusion section 28A.15  to include healthful foods and beverages.</li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Two -->
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid rounded mb-3 mb-md-0" src="/images/local-government-action-team-action.jpeg" alt="">
        </div>
        <div class="col-md-8 align-self-center">
            <h3>Action</h3>
            <ul>
                <li>The Regulatory Action Team consists of 4-5 partners representing state agencies, local public health, and nonprofit organizations.</li>
                <li>Action Lead: Dianne Blaydes from Hennepin County Public Health</li>
            </ul>
            <a class="btn btn-primary" href="mailto:Dianne.Blaydes@hennepin.us">Contact Action Lead via Email</a>
        </div>
    </div>
    <!-- /.row -->

    <hr>
    <br>
    <br>

</div>
<!-- /.container -->











<!--footer-->
<% include ../../partials/footer %>