@import '~fullcalendar/dist/fullcalendar.css';

html, body{
    height: 100%
}

.slide {
    margin-top: 0;
    height: auto
}

.card {
    height: 100%;
}

.head-background {
    height: 200px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}