<!--header-->
<% include ../partials/header %>

<div class="jumbotron jumbotron-fluid head-background">
    <div class="container">
        <h1 class="display-4">About Us</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4 my-4">
            <div class="card">
                <img class="card-img-top" src="/images/about-us-mission.jpeg" alt="">
                <div class="card-body">
                    <h4 class="card-title text-primary">Mission & Vision</h4>
                    <p class="card-text">MFAN members envision a safe, just, healthy food system for all.</p>
                    <p class="card-text">The mission of MFAN is to leverage collective capacity of partners to advance equitable access to healthy food for all Twin Cities metro residents.</p>
                    <p class="card-text">MFAN fulfills its mission through the following core functions.</p>
                    <ul>
                        <li>Learn from each other.</li>
                        <li>Strengthen connections.</li>
                        <li>Generate collective action.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4 my-4">
            <div class="card">
                <img class="card-img-top" src="/images/about-us-core-value.jpeg" alt="">
                <div class="card-body">
                    <h4 class="card-title text-primary">Core Values</h4>
                    <p class="card-text"></p>
                    <p class="card-text">MFAN members hold the following core values.</p>
                    <ul>
                        <li>Focus on policy, systems, and environmental approaches to food access work.</li>
                        <li>Provide a welcoming entry point for all new members.</li>
                        <li>Equity at the forefront of all decisions.</li>
                        <li>Honor all voices.</li>
                        <li>Collaboration is the key to success, relationship building is a valued part of the work.</li>
                        <li>Open invitation to leadership.</li>
                        <li>Intentionally engage diverse stakeholders.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4 my-4">
            <div class="card">
                <img class="card-img-top" src="/images/about-us-strategic-policy.jpeg" alt="">
                <div class="card-body">
                    <h4 class="card-title text-primary">Strategic Priorities</h4>
                    <p class="card-text">MFAN uses the following strategic priorities to guide actions.</p>
                    <ul>
                        <li>To build skills and knowledge of network partners to advance equitable access to healthy food for all</li>
                        <li>To define and integrate equity into all network actions</li>
                        <li>To mobilize the network for policy change</li>
                        <li>To clarify the structure and function of the network and address sustainability</li>
                        <li>To engage relationships to advance the mission of the network</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <div class="row py-4">
        <div class="col-lg-6">
            <h2 class="text-primary">What Our Partners Say</h2>
            <p>All the meetings have been very helpful in my learning about and connecting with others working on food access. The networking is priceless as we all go out and do this work. By working together and not recreating the wheel over and over again we can truly make a difference.</p>
            <p>Connecting with other local public health and various organizations around the Twin Cities [through MFAN] has been a great way to work across county boundaries. It has been helpful for me to feel more connected with other counties who are doing similar work and facing similar barriers. It has been really food for starting conversations and figuring out solutions together rather than alone. Things seem more do-able when you have a group of people working on things</p>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid rounded" src="/images/about-us.jpeg" alt="">
        </div>
    </div>
    <div class="col-lg-12 py-5">
        <h2 class="text-primary text-center">Our Funders</h2>
    </div>
    <div class="row col-lg-12">
        <div class="col-lg-6">
            <ul>
                <li>Hennepin County SHIP</li>
                <li>St. Paul/Ramsey County SHIP</li>
                <li>Dakota County SHIP</li>
            </ul>
        </div>

        <div class="col-lg-6">
            <ul>
                <li>Washington County SHIP</li>
                <li>Carver County SHIP</li>
                <li>University of Minnesota Extension SNAP-Ed</li>
            </ul>
        </div>
    </div>
</div>










<!--footer-->
<% include ../partials/footer %>