<!--header-->
<% include ../partials/header %>

<div class="jumbotron jumbotron-fluid head-background">
    <div class="container">
        <h1 class="display-4">Meet the Strategic Team</h1>
    </div>
</div>

<div class="container">
    <h1 class="my-4 text-center text-primary display-3">About the Strategic Team</h1>
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <p class="lead">The Strategic Team meets quarterly to develop short-term and long-term strategy for the network.</p>
            <p class="lead">Anyone committed to advancing the mission of MFAN, attending quarterly meetings, and participating in a work group is welcome to join the Strategic Team.</p>
            <p class="lead">Learn more and considering joining by completing the <a target="_blank" class="text-info" href="/documents/mfan-strategic-team-information-and-interest-form.docx">Strategic Team Information and Interest Form</a>. Meetings are open to everyone.  Join us at our next meeting.</p>
            <p class="lead">2018 Meeting Dates: 1/8, 4/9, 7/9, 10/8 from 9-10:30 at UROC (2001 Plymouth Ave. N, Mpls)</p>
            <div class="text-center">
                <a class="btn btn-primary" target="_blank" href="/documents/mfan-strategic-team-information-and-interest-form.docx">Click to download the Strategic Team Information and Interest Form</a>
            </div>
        </div>
    </div>
</div>
<hr>

<div class="container">

    <!------------------------------------------- Meet the Team -------------------------------------------------------->
    <h1 class="my-4 text-center text-primary display-3">Meet the Team</h1>
    <hr>

    <!-- Jamie Bain -->
    <div class="row">
        <div class="col-md-3">
            <span class="helper"></span><img class="img-fluid rounded mb-3 mb-md-0" src="/images/jbain.png" alt="">
        </div>
        <div class="col-md-9">
            <h3>Jamie Bain</h3>
            <p>Jamie Bain is the coordinator of the Metro Food Access Network (MFAN) and works for the University of Minnesota Extension.  She loves networks and affectionately considers herself a “network nerd”.  She believes in the power of connectivity and loves the magic that happens when the people engage in critical conversations that lead to collaborative action.  She also supports all food networks across the state through her role on the Engagement Team of the Minnesota Food Charter Network. Please reach out to Jamie with any questions about MFAN or your work with food networks in Minnesota and beyond.</p>
            <a class="font-italic" href="mailto:jbain@umn.edu">jbain@umn.edu</a>
        </div>
    </div>
    <hr>

    <!-- Nadja Berneche -->
    <div class="row">
        <div class="col-md-3">
            <span class="helper"></span><img class="img-fluid rounded mb-3 mb-md-0" src="/images/nberneche.png" alt="">
        </div>
        <div class="col-md-9">
            <h3>Nadja Berneche</h3>
            <p>A resident of St. Paul, Nadja Berneche has served on the Saint Paul-Ramsey County Food and Nutrition Commission for six years, currently serving as co-chair. She has worked on changing policies to support urban agriculture, healthy eating, and food access at state and local levels.</p>
            <p>She is also the Healthy Comprehensive Planning Director with Terra Soma, a strategic services firm with a specialty in food systems. In this role, a big part of her work is to bridge communication gaps. She often finds herself in the role of interpreter—explaining policy jargon to city and county planners, health advocates, and community members working to increase healthy food access. To create those long-range visions, she uses local community planning as tool to strategically identify and implement initiatives to increase access to healthy food and physical activity and to promote health equity.</p>
            <p>Prior to this, Nadja served as the Program Director for Gardening Matters, focusing on community-based food systems and urban agriculture policy. Nadja earned her Masters of Social Work and Masters of Public Policy from the University of Minnesota. She enjoys chasing her 3-year old son, two elder dogs, and chickens around the garden, rooting for University of Michigan football, and making carrot pickles.</p>
            <a class="font-italic" href="mailto:nadja@terrasoma.com">nadja@terrasoma.com</a>
        </div>
    </div>
    <hr>

    <!-- Jenny Breen -->
    <div class="row">
        <div class="col-md-3">
            <span class="helper"></span><img class="img-fluid rounded mb-3 mb-md-0" src="/images/jbreen.png" alt="">
        </div>
        <div class="col-md-9">
            <h3>Jenny Breen</h3>
            <p>Jenny Breen has been a professional chef and advocate for local and sustainably raised foods working directly with farmers and producers in the Twin Cities area since the mid 1980’s.  She was  co-owner of Good Life Cafe and Catering, a sustainable and whole foods business from 1996-2013.  She is a 2009 Archibald Bush Foundation Leadership Fellow and completed her MPH in Nutrition at the University of Minnesota in 2011 while working to build strong networks within health and food systems for greater access to food, support for sustainable farming, and understanding of cooking as a health strategy. Her first cookbook "Cooking up the Good Life" emphasizes local, seasonal whole foods cooking for families, and was released in April of 2011 from the University of Minnesota Press. She currently teaches 3 courses at the University of Minnesota: an undergraduate cooking class called “Healthy Foods Healthy Lives, cooking on a Student’s Budget”, an undergraduate on line course called “food choices, healing the earth, healing ourselves”, and a graduate cooking course called “Food Matters, cook as if your life depends on it” for health professional students (with Dr Shafto), both through the Center for Spirituality and Healing.  She contracts as a food and nutrition Public Health educator with local health departments, school districts and non profit food and farming organizations.</p>
            <a class="font-italic" href="mailto:breen026@umn.edu">breen026@umn.edu</a>
        </div>
    </div>
    <hr>

    <!-- Jenna Carter -->
    <div class="row">
        <div class="col-md-3">
            <span class="helper"></span><img class="img-fluid rounded mb-3 mb-md-0" src="/images/jcarter.png" alt="">
        </div>
        <div class="col-md-9">
            <h3>Jenna Carter</h3>
            <p>Jenna Carter is the Senior Program Manager for Health Equity Advocacy in the Center for Prevention at Blue Cross and Blue Shield of Minnesota.  In her role, she develops and leads statewide public health policy and advocacy strategies to reach the Center’s goals around health equity, healthy eating, and active living. Jenna has co-founded and developed external coalitions and networks including the Good Food Access campaign, Minnesota Food Funders Network, and the Metro Food Access Network.  Jenna has a Master’s degree in Public Health Nutrition from the University of Minnesota and Bachelor’s degree in Nutritional Science from Iowa State University.  In her free time, she loves traveling with her partner and children, as well as running, yoga and reading.</p>
            <a class="font-italic" href="mailto:Jenna.Carter@bluecrossmn.com">Jenna.Carter@bluecrossmn.com</a>
        </div>
    </div>
    <hr>

    <!-- Melanie Heckt -->
    <div class="row">
        <div class="col-md-3">
            <span class="helper"></span><img class="img-fluid rounded mb-3 mb-md-0" src="/images/mheckt.png" alt="">
        </div>
        <div class="col-md-9">
            <h3>Melanie Heckt</h3>
            <p>Melanie is the Engagement Coordinator for the Northside Fresh Coalition at Appetite for Change doing a year of service as an AmeriCorps VISTA. She is also completing her degree in Food Systems and Nutrition at the University of Minnesota this fall. Melanie has experience working in urban agriculture and food policy at the city and state level. Melanie is passionate about working towards community owned food systems that nourish all people and the land.</p>
            <p>Melanie grew up in Andover, MN and has lived in Minneapolis the last four years. She is very close with her family, especially her two younger brothers. Melanie loves swing dancing, crocheting, and cooking with friends.</p>
            <a class="font-italic" href="mailto:melanie@afcmn.org">melanie@afcmn.org</a>
        </div>
    </div>
    <hr>

    <!-- Sophia Lenarz-Coy -->
    <div class="row">
        <div class="col-md-3">
            <span class="helper"></span><img class="img-fluid rounded mb-3 mb-md-0" src="/images/slenarz-coy.png" alt="">
        </div>
        <div class="col-md-9">
            <h3>Sophia Lenarz-Coy</h3>
            <p>Sophia Lenarz-Coy is the Associate Director for Hunger Solutions. She is passionate about looking at hunger from a food systems perspective and wants to see that all Minnesotans have access to healthy, quality food. Sophia is a graduate of Smith College in Massachusetts and has worked in the nonprofit sector for many years, developing programs, managing staff, and finding innovative ways to solve the complex problem of hunger.</p>
            <a class="font-italic" href="mailto:slenarzcoy@hungersolutions.org">slenarzcoy@hungersolutions.org</a>
        </div>
    </div>
    <hr>

    <!-- Chloe Richter -->
    <div class="row">
        <div class="col-md-3">
            <span class="helper"></span><img class="img-fluid rounded mb-3 mb-md-0" src="/images/crichter.png" alt="">
        </div>
        <div class="col-md-9">
            <h3>Chloe Richter</h3>
            <p>Chloe Richter is a Registered and Licensed Dietitian with a Bachelor's of Science in Community-Medical Dietetics from Viterbo University. Chloe is a Community Health Specialist for Washington County Department of Public Health and Environment where she works with community groups to improve opportunities for nutrition and physical activity. She is passionate about encouraging health for people across the lifespan and enjoying food as a powerful tool for connection and health.</p>
            <a class="font-italic" href="mailto:chloe.richter@co.washington.mn.us">chloe.richter@co.washington.mn.us</a>
        </div>
    </div>
    <hr>

    <!-- Rachel Smith -->
    <div class="row">
        <div class="col-md-3">
            <span class="helper"></span><img class="img-fluid rounded mb-3 mb-md-0" src="/images/rsmith.png" alt="">
        </div>
        <div class="col-md-9">
            <h3>Rachel Smith</h3>
            <p>Rachel Smith recently moved back to the Twin Cities from Oregon after completing her master’s degree in communications and media studies. While at the University of Oregon, she focused her research efforts on food equity and how the media can influence the health of underserved populations. As a marketing communications consultant, Rachel hopes to use her skills and experiences to support a more equitable food system across the state and looks forward to working alongside the amazing network of professionals dedicated to this cause. In her free time, Rachel loves exploring the outdoors with her partner Kevin and taking advantage of Minnesota’s distinct four seasons.</p>
            <a class="font-italic" href="mailto:rachel.damara.smith@gmail.com">rachel.damara.smith@gmail.com</a>
        </div>
    </div>
    <hr>

    <!-- Lisa Wong -->
    <div class="row">
        <div class="col-md-3">
            <span class="helper"></span><img class="img-fluid rounded mb-3 mb-md-0" src="/images/lwong.png" alt="">
        </div>
        <div class="col-md-9">
            <h3>Lisa Wong</h3>
            <p>Lisa Wong is a SNAP-Ed Educator with University of Minnesota Extension working in healthy food access in the North Metro. Prior to her work in Minnesota, she was a U.S. Peace Corps Community Health Specialist in Ethiopia. Her work focused primarily on food security, family planning, and gender equality. Lisa holds a B.S. in Nutrition from Cal Poly, San Luis Obispo, CA where she also focused her efforts on fair and direct trade as a means to enhance farmer's livelihoods. Aside from her professional experiences, her upbringing consisted of time spent in her family's Chinese restaurant and working long hot summers for almond and stone fruit farmers in California's Central Valley and more recently experimenting with fermentation and curing meats. Crossing paths with a wide range of people, she has always found food to be a unifying human ritual worth fighting for.</p>
            <a class="font-italic" href="mailto:lswong@umn.edu">lswong@umn.edu</a>
        </div>
    </div>
    <hr>

    <!-- Samty Xiong -->
    <div class="row">
        <div class="col-md-3">
            <span class="helper"></span><img class="img-fluid rounded mb-3 mb-md-0" src="/images/sxiong.png" alt="">
        </div>
        <div class="col-md-9">
            <h3>Samty Xiong</h3>
            <p>Samty Xiong is a second generation Hmong-American womxn who was born and raised in Wisconsin. Her childhood food memories include free and reduced lunches and breakfasts, butchering chickens with her family, feeling embarrassed about her mom's urban foraging of Solomon's seal and black nightshade, and growing and freezing vegetables for winter. She creates new food memories by learning to cook and bake from scratch, growing her appreciation for Hmong food traditions, and increasing equity at all levels of the food system. She believes ending racial injustice is key to ending food insecurity and hunger.</p>
            <p>As the Equity Specialist at The Food Group, Samty facilitates and drives strategies to strengthen equity as a core organizational value and works with partners to build industry capacity around equity. Prior to The Food Group, Samty served as an AmeriCorps VISTA at the City of Saint Paul Department of Human Rights and Equal Economic Opportunity where she supported the city's racial equity initiative. Her previous work also includes supporting refugees, asylum-seekers, and immigrants with the United Nations High Commissioner for Refugees and the International Institute of Minnesota. She holds Bachelor’s degrees in International Studies and African Languages & Literature and a Certificate in Middle East Studies.</p>
            <a class="font-italic" href="mailto:SXiong@thefoodgroupmn.org">SXiong@thefoodgroupmn.org</a>
        </div>
    </div>
    <hr>

</div>





    <br>
    <br>

</div>
<!-- /.container -->





<!--footer-->
<% include ../partials/footer %>