<!--header-->
<% include ../partials/header %>

<div class="jumbotron jumbotron-fluid head-background">
    <div class="container">
        <h1 class="display-4">MFAN history</h1>
    </div>
</div>
<!-- Page Content -->
<div class="container">

    <!------------------------------------------- 2017 Heading -------------------------------------------------------->
    <h1 class="my-4 text-center text-primary display-3">2017</h1>
    <hr>

    <div class="container">
        <ul>
            <li>MFAN partnership expanded to over 400 food access advocates</li>
            <li>New website and Email Discussion Group launched</li>
        </ul>
    </div>

    <hr>

    <!-- Project One -->
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid rounded mb-3 mb-md-0" src="/images/history-equity-success.png" alt="">
        </div>
        <div class="col-md-8 align-self-center">
            <h3>Equity Success</h3>
            <p>MFAN leveraged funding to host <a class="text-info" href="/resources/critical-conversation-on-race">Critical Conversations on Race in the Food System</a> events facilitated by The Food Group December 2017 - April 2018.</p>
            <a class="btn btn-primary" href="/resources/critical-conversation-on-race">Learn More</a>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Two -->
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid rounded mb-3 mb-md-0" src="/images/history-food-shelf-success.png" alt="">
        </div>
        <div class="col-md-8 align-self-center">
            <h3>Food Shelf Success</h3>
            <p><a class="text-info" href="https://www.supershelfmn.org/" target="_blank">SuperShelf</a> (an idea incubated by MFAN partners) was awarded the first ever National Institute of Health grant for the hunger relief system at $3.2 million to evaluate and expand implementation to 16 food shelves across the state.  Additional success came when the results of the SuperShelf pilot study showed significant improvement in food shelf and client healthfulness.</p>
            <a target="_blank" class="btn btn-primary" href="https://www.supershelfmn.org/">Learn More</a>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Three -->
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid rounded mb-3 mb-md-0" src="/images/history-comprehensive-planning-success.png" alt="">
        </div>
        <div class="col-md-8 align-self-center">
            <h3>Comprehensive Planning Success</h3>
            <p>The MFAN Comprehensive Planning Team developed <a class="text-info" target="_blank" href="/documents/community-health-in-comprehensive-planning-checklist.pdf">the Community Health in Comprehensive Planning Checklist</a> to further support food access advocates and planners to work together to advance equitable access to healthy food through the built environment. </p>
            <a target="_blank" class="btn btn-primary" target="_blank" href="/documents/community-health-in-comprehensive-planning-checklist.pdf">Learn More</a>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Four -->
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid rounded mb-3 mb-md-0" src="/images/history-mfan-bus-adventure.png" alt="">
        </div>
        <div class="col-md-8 align-self-center">
            <h3>MFAN Bus Adventure</h3>
            <p>MFAN partners traveled together to Northwestern and West Central Minnesota to explore native and rural food systems, develop deeper connections, and bridge silos across our shared work.</p>
            <a class="btn btn-primary" href="/blog/001">Learn More in MFAN Blog</a>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Five -->
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid rounded mb-3 mb-md-0" src="/images/history-metro-community-meal.png" alt="">
        </div>
        <div class="col-md-8 align-self-center">
            <h3>Metro Community Meal</h3>
            <p>MFAN hosted our first event to engage with community partners, elected officials, and food systems leaders to envision a food system we all deserve. Over 165 people attended. There was a family meal served with local produce, live art, a DJ, and lots of great conversation.</p>
            <a class="btn btn-primary" href="/blog/002">Learn More in MFAN Blog</a>
        </div>
    </div>
    <!-- /.row -->

    <hr>
    <br>
    <br>

    <!------------------------------------------- 2016 Heading -------------------------------------------------------->
    <h1 class="my-4 text-center text-primary display-3">2016</h1>
    <hr>

    <div class="container">
        <ul>
            <li>MFAN partnership expanded to 350 food access advocates</li>
            <li>MFAN funding partners continued to expand. Hennepin, Ramsey, Dakota County, Washington, and Carver County SHIP pooled funding to support MFAN</li>
            <li>Calls to Action were launched</li>
        </ul>
    </div>

    <hr>

    <!-- Project One -->
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid rounded mb-3 mb-md-0" src="/images/history-2016-equity-success.png" alt="">
        </div>
        <div class="col-md-8 align-self-center">
            <h3>Equity Success</h3>
            <p>MFAN leveraged funding to support a part-time position to coordinate the MFAN Equity Action Team. Together the team provided recommendations to improve the equity practices of the network. They also designed and facilitated an Equity Timeline experience where partners walked an over 50 foot timeline of policies and systems that have been put in place over the last several centuries to create the food system we have today.</p>
            <a class="btn btn-primary" href="/resources/equity-in-policy-timeline">Learn More</a>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Two -->
    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid rounded mb-3 mb-md-0" src="/images/history-2016-comprehensive-planning-success.png" alt="">
        </div>
        <div class="col-md-6 align-self-center">
            <h3>Comprehensive Planning Success</h3>
            <p>The Comprehensive Planning Action Team incubated the idea for the <a target="_blank" href="http://mnfoodcharter.com/planningguide/" class="text-info">Minnesota Food Charter Healthy Food Access Planning Guide</a>. The guide provides tools, resources, proven policy strategies, and recommended planning and zoning language for comprehensive plans, so planners and community food advocates can collaborate to design communities that promote access to healthy, safe, affordable food. MFAN partners continue to collaborate on the implementation of the guide for comprehensive plans that were submitted in 2018.</p>
            <a target="_blank" class="btn btn-primary" href="http://mnfoodcharter.com/planningguide/">Learn More About The Planning Guide</a>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Three -->
    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid rounded mb-3 mb-md-0" src="/images/history-2016-food-shelf-success.png" alt="">
        </div>
        <div class="col-md-6 align-self-center">
            <h3>Food Shelf Success</h3>
            <p>MFAN partners incubated the idea <a class="text-info" href="https://www.supershelfmn.org/" target="_blank">SuperShelf</a>, which transforms food shelves, creating welcoming environments for communities to access appealing, healthy food. Partners leveraged funding to implement and evaluate SuperShelf transformations in 4 pilot food shelves in the metro.</p>
            <a target="_blank" class="btn btn-primary" target="_blank" href="/documents/supershelf-pilot-results.pdf">Learn More About the Evaluation Results</a>
        </div>
    </div>
    <!-- /.row -->

    <hr>
    <br>
    <br>


    <!------------------------------------------- 2015 Heading -------------------------------------------------------->
    <h1 class="my-4 text-center text-primary display-3">2015</h1>
    <hr>

    <div class="container">
        <ul>
            <li>MFAN partnership expanded to 300 food access advocates</li>
            <li>Strategic Planning took place with development of mission, vision, and governance structure</li>
            <li>Website and blog were launched</li>
        </ul>
    </div>

    <hr>

    <!-- Project One -->
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid rounded mb-3 mb-md-0" src="/images/history-2016-equity-success.png" alt="">
        </div>
        <div class="col-md-8 align-self-center">
            <h3>Food Shelf Success</h3>
            <p>MFAN partners identified a need to provide a more healthful and dignified experience for clients of metro area food shelves. As a result, 18 MFAN partners from food shelves, food banks, local public health, SNAP-Ed, and others came together to develop and launch the <a class="text-info" target="_blank" href="/documents/mfan-promising-practice.pdf">MFAN Promising Practice</a> document for food shelves.</p>
            <a class="btn btn-primary" target="_blank" href="/documents/mfan-promising-practice.pdf">Learn More</a>
        </div>
    </div>
    <!-- /.row -->

    <hr>
    <br>
    <br>


    <!------------------------------------------- 2014 Heading -------------------------------------------------------->
    <h1 class="my-4 text-center text-primary display-3">2014</h1>
    <hr>

    <div class="container">
        <ul>
            <li>MFAN met on a quarterly basis</li>
            <li>Partnership grew to 200 food access advocates</li>
            <li>MFAN funding partners expanded too!  Hennepin, Ramsey, and Dakota County SHIP pooled funding to support MFAN</li>
            <li>We had our first collective action success</li>
        </ul>
    </div>

    <hr>

    <!-- Project One -->
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid rounded mb-3 mb-md-0" src="/images/history-2016-equity-success.png" alt="">
        </div>
        <div class="col-md-8 align-self-center align-content-center">
            <h3>Comprehensive Planning Success</h3>
            <p><a class="text-info" target="_blank" href="/documents/thrivemsp-2040.pdf">Thrive MSP2040</a> is a visionary document that guides city and county comprehensive planning for 30 years.  During a revisionary process MFAN partners identified a lack of food access language in the proposed document. To address this, 15 MFAN partners came together to provide revisionary language to the document, much of which was included in the final document and used today to guide the metro comprehensive planning process.</p>
            <a class="btn btn-primary" target="_blank" href="/documents/thrivemsp-2040.pdf">Learn More</a>
        </div>
    </div>
    <!-- /.row -->

    <hr>
    <br>
    <br>

    <!------------------------------------------- 2013 Heading -------------------------------------------------------->
    <h1 class="my-4 text-center text-primary display-3">2013</h1>
    <hr>
    <div class="container">
        <ul>
            <li>MFAN started meeting quarterly</li>
            <li>Partnership grew to 125 food access advocates</li>
            <li>Action Teams were launched</li>
        </ul>
    </div>

    <hr>
    <br>
    <br>

    <!------------------------------------------- 2012 Heading -------------------------------------------------------->
    <h1 class="my-4 text-center text-primary display-3">2012</h1>
    <hr>
    <div class="container">
        <p>MFAN was launched by funding from Hennepin County SHIP and Blue Cross Blue Shield Center for Prevention, with the University of Minnesota Extension as the coordinator and fiscal host of the network.  The first meeting took place in October and had 55 people in attendance.</p>
    </div>

    <hr>
    <br>
    <br>

</div>
<!-- /.container -->











<!--footer-->
<% include ../partials/footer %>