<!--header-->
<% include ../partials/header %>
<link rel="stylesheet" href="/stylesheets/blog.css">
<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

<header class="masthead" style="background-image: url('/images/blog-001-background.jpeg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>From Divide to Dividends: A Tour of Minnesota's Shared Connections</h1>
                    <span class="meta">Posted by <a href="#">Jamie Bain</a> on February 08, 2018</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                <!--<p>On an unusually warm evening in November, 165 community members, elected officials, and food systems leaders gathered for an evening filled with warm smiles, generative conversations, delicious food, amazing art, with lots and lots of sharing. The Metro Community Meal took place at Wilder in St. Paul.</p>-->
                <!--<img class="img-fluid mb-3" src="/images/gallery/010.jpg" alt="">-->
                <!--<h3>Welcome</h3>-->
                <p>Last week, I drove through the north woods, snaked through lake after lake, and absorbed the sun and the energy of the vast blue sky. This incredibly beautiful experience unfolded in 36 hours with an amazing crew of Metro Food Access Network (MFAN) partners on a two-day tour of northwestern and west central Minnesota on March 28 and 29, 2017. The goal of the adventure was to learn more about the “divide” between urban and rural Minnesota we’ve heard so much about in the news lately.</p>
                <h3>Day 1</h3>
                <p>After a long drive and a quick stop at a quintessential small town diner, we were welcomed by the expansive wingspan of the bald eagle building of the <a class="text-info" target="_blank" href="https://www.rlnc.education/aboutus">Red Lake Nation College (RLNC)</a> in Red Lake.</p>
                <img class="img-fluid mb-3" src="/images/blog-001-day1.png" alt="">
                <p> Our hosts <strong>David Manuel</strong>, Michael VanHorn, and Cherilyn Spears of the <strong>Red Lake Local Foods Initiative</strong> welcomed us with the same degree of expansiveness. David Manuel and Melvin Giles, MFAN partner, first met at the Convening of Food Network Leaders in November 2016. They quickly caught each other’s attention and embraced like lifelong friends.</p>
                <p>As we entered RLNC, we soon saw what came to be the first theme in our trip — an incredible smorgasbord of goodies from their gardens and Harmony Natural Foods Co-op in nearby Bemidji. As we learned about the amazing work this local foods threesome has been able to pull off over the last year, we all noticed one common thing: the immense gratitude they have for each other and especially for the "mother of the work," Cherilyn. We also saw overwhelming pride for their land, the lake, and their collaborative vision for a future of regeneration through food.</p>
                <p>Of course, our group needed to see the land they told us about and so we kicked off the second theme of our trip — running late. We jumped in our vans and drove to their land with fruit trees, a high tunnel, and the most luscious spongy black dirt I’ve ever seen or felt in my life.</p>
                <p>As we pulled ourselves away from these incredible leaders to continue on our journey, we experienced the third theme of our adventure — a juxtaposition of emotions. At the same time that we felt overwhelmed with gratitude and passion, we also felt overwhelmed by the massive amount of poverty on the nation. We let these feelings sit in our hearts as we quietly drove out of Red Lake Nation into the Bemidji area — a clear delineation between tribal land and colonized land with updated amenities, well-structured homes, and tended for municipal properties.</p>
                <p>When we arrived at our next destination, Bemidji's <strong>Rail River Folk School</strong>, we walked into a century-old building by the railroad. It was unassuming on the outside and gorgeous on the inside. Like a picture out of a Pinterest-worthy fairytale barn wedding, a table groaned with freshly cooked food, including wild rice, squash, salad with a maple-honey-blueberry vinaigrette, smoked fish, and pickled herring. The spread represented the different heritages of our hosts Jessica Saucedo and Simone Senogles — Norwegian and Anishinabe.</p>
                <img class="img-fluid mb-3" src="/images/blog-001-day1-2.png" alt="">
                <p>These two women exuded sincerity, passion, and hospitality. We quickly realized we weren’t the only beneficiaries of their generosity either. The back garden smelled richly of fresh cut pine and there were builders putting up a new shed. Apparently these builders came from Standing Rock Sioux Reservation, hungry and looking for work. A one-day stay turned into three weeks at the folk school, where the visitors were fed and put to work. The day before we arrived, they assembled a Mongolian yurt. It was gorgeous, warm, and the most peaceful 20 square feet I've ever stepped foot inside.</p>
                <p>We ate together, laughed, and shared stories into the night. We talked about racism in rural Minnesota. We talked about the power of collaboration when there are diverse perspectives at the table and how this allows you to embrace your gifts and be unapologetically yourself because you know you are contributing to a greater whole. We reflected and paused to take in what the day had brought us before going to our hotel to rest for the night.</p>
                <h3>Day 2</h3>
                <p>The second day, although not as warm and sunny, was equally as transformative as the first. We started the day at the <a class="text-info" target="_blank" href="http://www.bemidjifoodshelf.org/about-us/">Bemidji Area Food Shelf</a>. We were greeted by Hannah Klemm, the garden manager, and delicious fresh-from-the-oven homemade oatmeal raisin cookies from a volunteer who beamed with pride for her work at the food shelf.</p>
                <p>We were surrounded by volunteers coming together to pull off the day’s operation of distributing food. The food shelf used a client-choice model, and boosted a large supply of fresh fruits and vegetables and cold storage any food shelf would be envious of.</p>
                <p>But the real magic happened when we walked outside and saw dozens of raised beds, rain barrels, compost, and an acre and a half "garden." When they talked about gardening, they meant business! Hannah graciously answered all of our questions and guided us through a great tour of the food shelf facility and operations.</p>
                <p>The final destination on our adventure was <a class="text-info" target="_blank" href="http://localfoods.umn.edu/prairiehorizons">Prairie Horizons Farm</a>, a grass-fed cattle and organic fruit operation. As we arrived at the idyllic home of Mary Jo Forbord, we were greeted by breathtaking views of rolling hills and a pond through large windows with stained glass and cactus standing 30 feet high, combined with luscious aromas of home cooked splendor. Mary Jo is the wise mom that everyone wants (even if they already have the best mom in the world, like I do). Mary Jo had cooked us a feast fit for a holiday dinner and treated us like her most prized guests.</p>
                <img class="img-fluid mt-3 mb-0" src="/images/blog-001-day2.png" alt="">
                <p class="font-italic text-center mt-0">Back left: Luverne Forbord. Back, second to right: Mary Jo Forbord</p>
                <p>Together we ate veggie chili, heirloom squash soup, beef tenderloin from her herd, cornbread with whipped honey butter, fresh quick pickles, and aronia berry crisp. We ate, we talked, we laughed, we all wished we could move in. Mary Jo told us stories from her farm, how she and her husband Luverne decided to transition from conventional to sustainable practices, and the problems with having precision agricultural practices surrounding her slice of paradise — runoff, pesticide drift, and the repercussions on her family’s health and well-being. To Mary Jo and to all of us, these problems are a matter of life and death.</p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Rbm02BXe0a4" allowfullscreen></iframe>
                </div>
                <p class="font-italic text-center mt-0"> To learn more about the health risks of industrial agriculture, watch this 15-minute documentary and join us on May 5 for the “Holding Hands for Pollinators” event on her farm. To show the power of collaboration for action, Mary Jo is bringing people together to hold hands along the line in her farm where the sustainable practices end and the precision agriculture practices begin.</p>
                <p>As we pulled ourselves away from delicious food, rich land, and warm hosts one last time, we entered our last leg of the trip back to the metro area, back to our reality. Through our time together that felt more like years rather than days, the 13 of us on the trip got to know each other, our families, our shared connection to food, our work, and our unique personalities on a level deeper than we ever could have expected 36 hours earlier.</p>
                <p>As I enter back into the daily grind, my heart is spilling over with gratitude for the generosity and passion we experienced together on our MFAN adventure. The conversations flowed effortlessly. The food was delicious, full of love, and altogether healing.</p>
                <p>My biggest takeaway from the trip is that the “divide” between urban and rural Minnesota isn’t as sharp as I thought. We share the common goal of using food as a tool for gaining a deeper understanding of cultural values, for improving health, and for building vibrancy in our communities. I could see just how much intersectionality, synergy, and possibility for collaborative action the state of Minnesota holds, which could yield great dividends for our collective future.</p>
            </div>
        </div>
    </div>
</article>

<hr>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="#"><span class="fa-stack fa-lg"><i class="fab fa-facebook-f"></i></span></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><span class="fa-stack fa-lg"><i class="fab fa-twitter"></i></span></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><span class="fa-stack fa-lg"><i class="fab fa-google-plus-g"></i></span></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><span class="fa-stack fa-lg"><i class="fas fa-external-link-alt"></i></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="/javascripts/blog.js"></script>
<!--footer-->
<% include ../partials/footer %>