<!--header-->
<% include ../partials/header %>
<link rel="stylesheet" href="/stylesheets/blog.css">
<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

<header class="masthead" style="background-image: url('/images/blog-002-background.jpeg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>Metro Community Meal: Envisioning a Food System We All Deserve</h1>
                    <span class="meta">Posted by <a href="#">Jamie Bain</a> on February 08, 2018</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                <p>On an unusually warm evening in November, 165 community members, elected officials, and food systems leaders gathered for an evening filled with warm smiles, generative conversations, delicious food, amazing art, with lots and lots of sharing. The Metro Community Meal took place at Wilder in St. Paul.</p>
                <img class="img-fluid mb-3" src="/images/gallery/010.jpg" alt="">
                <h3>Welcome</h3>
                <p>There were 15 MFAN partners that helped to plan and pull of this extremely engaging event. As partners entered the room they were greeted with soulful Hip-Hop and R&B music from DJ Rawskillz. As people mingled they were encouraged to create a visual representation of what equitable access to healthy food means to them on large puzzle pieces. The pieces came together to form a 15’x6’ illustration of the food system.</p>
                <img class="img-fluid mb-3" src="/images/gallery/011.jpg" alt="">
                <p>At this time, partners were encouraged to share what they believe is working well in the current food system and what needs to be improved. Their answers were used to create table discussions later in the evening.</p>
                <img class="img-fluid mb-3" src="/images/gallery/008.jpg" alt="">
                <p>I had the pleasure to emcee the event with the bubbly, energetic, and radiant, PH Copeland, from <a class="text-info" target="_blank" href="https://voicesforhealthykids.org/progress-in-mn-good-food-access-program/">Good Food Access Campaign</a>. Partners were welcomed to the space with an overview of the evening’s agenda from the emcees. Partners were encouraged to get up and move around, to continue to add to the puzzle, and to share freely. Youth were encouraged to come in and out of the space. In the hallway there was a station set up for them to play, create, and prepare food with SNAP-Ed educators.  Additionally, people were informed that there would be muralists set up in the back of the room creating art together based on the conversations they heard in the room.</p>
                <p>We received a warm welcome to the neighborhood from Melvin Giles of <a class="text-info" target="_blank" href="http://urbanfarmandgardenalliance.org/">Urban Farm and Garden Alliance (UFGA)</a>, which brings together community gardens in the Aurora/St. Anthony and Frogtown neighborhoods. Melvin blew his quintessential bubbles and inspired everyone to stay motivated and share openly before introducing a youth from UFGA. Kalia, a 14 year old gardener, shared about the importance of gardening in her life. She also made 100s of incredibly delicious lemon and chocolate mini-cupcakes for the event.</p>
                <h3>Our Drive</h3>
                <p>From there, Miah Ulysse from <a class="text-info" target="_blank" href="https://northsidefresh.org/">Northside Fresh Coalition (NSF)</a> introduced us to the food system, referencing the large puzzle we created together on the wall. Using the NSF definition, she described how food justice means, “holistic and locally owned food, where everyone is able to access, participate in and take ownership of a local food system that is rooted in social and economic justice”.</p>
                <p>She also stressed the importance of coming together to build equity in the food system, now more than ever, stating statistics such as:</p>
                <ul>
                    <li>There are over 3.2 million visits to the food shelf annually in Minnesota (<a class="text-info" target="_blank" href="http://www.hungersolutions.org/wp-content/uploads/2013/05/2015-Food-Shelf-Visits-FINAL.pdf">Hunger Solutions</a>)</li>
                    <li>At least 20% of families with children are food insecure in Minnesota (<a class="text-info" target="_blank" href="http://map.feedingamerica.org/">Feeding America</a>)</li>
                    <li>Minnesota is ranked #2 worst in health disparities by race and geography nationally (<a class="text-info" target="_blank" href="http://www.commonwealthfund.org/Publications/Fund-Reports/2014/Apr/2014-State-Scorecard.aspx">Commonwealth Fund</a>)</li>
                </ul>
                <p>From there we reviewed the answers partners provided about what is working and what needs to be improved in the food system as they entered the event and chose table topics to further our evening’s discussions, which included food waste, food policy councils, food art, farming and land stewardship, policy, and hunger.</p>
                <h3>Dinner!</h3>
                <p>Jenny Breen coordinated and prepared the food for the event that was approximately 90% locally sourced. The meal was prepared at The Good Acre with sourcing from farmers that aggregate their food at The Good Acre, Southeast MN Food Network, Youth Farm, and Urban Aquaponics Farm and included:</p>
                <ul>
                    <li>Blackeyed Pea and Sweet Potato Chili (<em>turkey and vegetarian</em>)</li>
                    <li>Roasted Seasonal Vegetables</li>
                    <li>Urban Organics Salad</li>
                    <li>Sesame Greens</li>
                    <li>Cornbread with Local Honey Butter</li>
                </ul>
                <h3>Our Conversations</h3>
                <p>Participants chose to sit at tables with discussion topics they were interested in.  Over dinner people sitting together at tables were encouraged to discuss what the ideal representation of this topic would look like. They had a bag of supplies to build this ideal food system with items like play-doh, slinkies, rubber bands, and plastic farm animals. Then they were asked to respond to the following questions:</p>
                <ul>
                    <li>What can <strong>you</strong> do to support the development of this ideal representation?</li>
                    <li>What could we do <strong>together</strong> to support the development of this ideal representation?</li>
                </ul>
                <h3>Sharing</h3>
                <p>After Dinner tables shared with the rest of the room about their conversations and the ideal representations they developed together. People shared about aspects of food justice, food sovereignty, youth in leadership, and deep listening as a form of respect. We were honored to have many youth from the Jennings Community School with us last night and we also heard a resounding theme that we must have more youth at the table in our food access work.</p>
                <img class="img-fluid mb-3" src="/images/blog-003-sharing.png" alt="">
                <h3>Art in the Making</h3>
                <p>To end the session, we heard from the <a class="text-info" target="_blank" href="http://hope-community.org/">Hope Community</a> muralists who were set up in the back of the room creating a mural based on the conversations they heard in the room over the evening. They shared about themes of caring for the land, eating good food, and actively working together to dismantle systems of oppression.  One youth muralist capped the night off perfectly with a round of applause when she said, "When you eat good shit, good shit happens!"</p>
                <!--<img class="img-fluid mb-3" src="/images/blog-003-art-in-the-making.png" alt="">-->
            </div>
        </div>
    </div>
</article>

<hr>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="#"><span class="fa-stack fa-lg"><i class="fab fa-facebook-f"></i></span></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><span class="fa-stack fa-lg"><i class="fab fa-twitter"></i></span></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><span class="fa-stack fa-lg"><i class="fab fa-google-plus-g"></i></span></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><span class="fa-stack fa-lg"><i class="fas fa-external-link-alt"></i></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="/javascripts/blog.js"></script>
<!--footer-->
<% include ../partials/footer %>