<!--header-->
<% include ../partials/header %>
<link rel="stylesheet" href="/stylesheets/blog.css">
<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

<header class="masthead" style="background-image: url('/images/blog-003-background.jpeg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>Ways to ACT NOW to give input to your city’s comprehensive plans</h1>
                    <span class="meta">Posted by <a href="#">Jamie Bain</a> on February 27, 2018</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                <p>The Metro Food Access Network (MFAN) Comprehensive Planning Action Team has been working to incorporate food access policies into local comprehensive plans. These plans are important tools for improving the health and well-being of all Minnesota communities. At the MFAN Quarterly Meeting on Feb. 21st, we heard from MFAN members who want to know what to do NOW to impact comprehensive plans. And the timing is perfect.  With all 7-county metro city’s comprehensive planning process currently underway, <strong>now is the time to review the plans and share your input about the future of your community.</strong></p>
                <p>The first step in the planning process happened in the last year across the Twin Cities region—the stage called community visioning. This stage took input from the community, laying the foundation for the comprehensive plan by establishing a vision statement, goals, and outcomes that reflect community priorities. Now, plans are being released in draft form and <strong>local governments want and need input from the community—all voices matter and can affect the process.</strong></p>
                <p><strong>Here are some ways you can act now to create healthy, resilient future plans:</strong></p>
                <ul>
                    <li> We’ve made it easy to visit your <a target="_blank" class="text-info" href="http://mnfoodcharter.com/comprehensive-planning-resources/">local government’s website</a> and/or follow your <a target="_blank" class="text-info" href="http://mnfoodcharter.com/comprehensive-planning-resources/">city government on social media</a> for updates on the comprehensive planning process and opportunities for input. These links take you to a list of all 7-county metro area city websites and social media pages, so you don’t have to do the homework! “LIKE” that facebook page!</li>
                    <li>Watch for dates for local comprehensive planning events or public hearings, meet your local city leaders and planners, and make your voice heard. Think bold and be innovative—there’s no such thing as a crazy idea! If you can’t attend an event in person, you can send an email with comments to your city’s planner. Don’t be shy. They are waiting to hear from you! The bottom line is they want to hear from you—in any way possible, and every single voice matters.</li>
                    <li>When reviewing your comprehensive plan, use the “search” function in the document to search for keywords: health, food, and equity.</li>
                    <li>If you are looking for suggested language to ask planners to use, take a look at the <a target="_blank" class="text-info" href="http://mnfoodcharter.com/planningguide/">mnfoodcharter.com/planningguide</a> or the <a target="_blank" class="text-info" href="http://mnfoodcharter.com/wp-content/uploads/2014/10/COMMUNITY-HEALTH-IN-COMPREHENSIVE-PLANNING-CHECKLIST.pdf">Healthy Comprehensive Planning Checklist</a> for some ideas. You can also send these resources directly to your planner and ask them to take a look at them for ideas! <a class="text-info" href="mailto:nadja@terrasoma.com">Nadja Berneche</a> is also available to help with your communication to your planner. Contact her if you’d like to go over a plan and draft communications together.</li>
                </ul>
                <p>Our community is stronger when everyone has equal access to health, security, prosperity, and quality of life—and this is the perfect opportunity to ensure this vision is possible!</p>
                <p>And, mark your calendars for upcoming meetings of the MFAN Local Gov’t Action Team: A NETWORK of local food access advocates that can work on multiple issues and engage multiple policy levers within and across local governments in the Twin Cities:</p>
                <ul>
                    <li>Tuesday, March 27th 1:00-3:00pm</li>
                    <li>Tuesday, May 22nd 1:00-3:00pm</li>
                    <li>Tuesday, July 24th 1:00-3:00pm</li>
                    <li>Tuesday Sept. 18th 1:00-3:00pm</li>
                    <li>Thursday, Nov. 29th 1:00-3:00pm</li>
                </ul>
            </div>
        </div>
    </div>
</article>

<hr>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="#"><span class="fa-stack fa-lg"><i class="fab fa-facebook-f"></i></span></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><span class="fa-stack fa-lg"><i class="fab fa-twitter"></i></span></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><span class="fa-stack fa-lg"><i class="fab fa-google-plus-g"></i></span></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><span class="fa-stack fa-lg"><i class="fas fa-external-link-alt"></i></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="/javascripts/blog.js"></script>
<!--footer-->
<% include ../partials/footer %>